* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image:url("../Assests/newlog.jpg");
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.confirmation-message {
    margin-bottom: 30px;
}

.confirmation-message p {
    font-size: 18px;
    font-weight: bold;
}


.actions button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.actions button:hover {
    background-color: #4cae4c;
}

.actions {
    margin-top: 20px;
}
