body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("../Assests/newlog.jpg");
}
header{
        background-color: #007bff;
        color: white;
        text-align: center;
        padding: 1em 0;
        height:50px;
     
}
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.6);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
}
.required{
    color: red;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #218838; /* Darker green on hover */
}
footer {
    background-color: rgb(46, 37, 37);
    text-align: center;
    padding: 15px 0;
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%;
}
.footer small{
    color: white;
}